VITE_FIREBASE_API_KEY="AIzaSyAZiSKitF5KYCam6Lzmdc4pPlczLUQmQ_A"
VITE_FIREBASE_AUTH_DOMAIN="realtime-asset-tracking-e00df.firebaseapp.com"
VITE_FIREBASE_DATABASE_URL="https://realtime-asset-tracking-e00df-default-rtdb.asia-southeast1.firebasedatabase.app/"
VITE_FIREBASE_PROJECT_ID="realtime-asset-tracking-e00df"
